<div class="container table-container">
    <table class="ui celled table fixed green selectable">
        <thead>
            <tr>
                <th class="one wide center aligned">ID</th>
                <th class="two wide center aligned">Brand</th>
                <th class="two wide center aligned">Model</th>
                <th class="two wide center aligned">Android Version</th>
                <th class="four wide center aligned">Additional Notes</th>
                <th class="two wide center aligned">Status</th>
                <th class="three wide center aligned">Taken By:</th>
            </tr>
        </thead>
        <tbody>
            <!-- Populated with devices.js with following structure
                <tr id="deviceIndex">
                    <td>{{id}}</td>
                    <td>{{brand}}</td>
                    ...
                </tr> -->
        </tbody>
    </table>
</div>

{{!-- SOCKETS IO --}}
<script src="/socket.io/socket.io.js"></script>

{{!-- JQUERY  --}}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

{{!-- SEMANTIC UI --}}
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

{{!-- POPULATING DECIVES TABLE AND TABLE EVENTS --}}
<script src="./js/devices.js"></script>