<a id="error_message" href="/" style="display:block; margin: auto">
<div class="ui negative massive message">
  <div class="header">
    Seems like there was some problem. Check the backtrack below:
  </div>
  <p>{{message}}</p>
</div>
</a>
