<a href="http://localhost:3000" style="display:block; margin: auto">
    <img src="./assets/problem.png" style="display:block; margin: auto; margin-top: 200px">
    <p style="text-align: center; margin-top: 20px">Seems like theres some error. Go Home or check the response:</p>
</a>
<p style="text-align: center; margin-top: 20px">{{message}}</p>
