<div class="container">
      <div id="header-text">
            <h1 class="ui center aligned inverted header" id="logo-maintext">
                  QA DEVICES HELPER
            </h1>
            <h2 class="ui center aligned inverted header" id="logo-subtext">
                  ( SIMPLE TOOL FOR LOGGING STATE OF MOBILE DEVICES )
            </h2>
      </div>
      <a href="{{url}}" class="login">
            <img src="./assets/signingoogle.png">
      </a>
</div>