<div class="container">
      <h1 class="ui center aligned inverted header" id="logo-maintext">
            QA DEVICES HELPER
      </h1>
      <h2 class="ui center aligned inverted header" id="logo-subtext">
            Simple tool for logging mobile devices state (xD)
      </h2>
      <a href="{{url}}" class="login">
            <img src="./assets/signingoogle.png">
      </a>
</div>