<div class="container">
      <div id="header-text">
            <h1 class="ui center aligned inverted header" id="logo-maintext">
                  QA DEVICES HELPER
            </h1>
            <h2 class="ui center aligned inverted header" id="logo-subtext">
                  ( SIMPLE TOOL FOR LOGGING STATE OF MOBILE DEVICES )
            </h2>
      </div>


      <a href="{{url}}" id='login-button-container'>
          <div class="ui animated google plus button" id="login-button">
              <div class="visible content">
                    <i class="google plus icon labeled" id="google-icon"></i>
                    Hey! Sign in using Google account
              </div>

              <div class="hidden content">
                  <i class="right arrow icon"></i>
                  Only for Netgurals! :)
              </div>
          </div>
      </a>

      <div class="footer" id="footer-center">
            Created with <i class="heart icon"></i>
            by Michał Jung (@juni)
      </div>

      <div class='footer' id="footer-right">
            <a href="https://github.com/Stackustack/qa-devices-helper"><i class="github icon"></i></a>
      </div>
</div>
