/* GENERAL */

body {
    white-space: nowrap;
    min-height: 100%;
    min-width: 100%;

    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.container {
    white-space: nowrap;
    min-height: 100%;
    min-width: 100%;
}

/* LOGIN PAGE */
#logo-maintext {
    padding-top: 9%;
    letter-spacing: 1rem;
    font-size: 4.3rem;
}

#logo-subtext {
    margin-top: -1%;
    font-size: 1.50rem;
    letter-spacing: 0.33rem;
    padding-bottom: 5%;
}

#header-text .header {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

#login-button-container {
    display: flex;
    justify-content: center;
    padding-top: 3vw;
}

#login-button {
    width: 600px;
    font-size: 2rem
}

#google-icon {
  margin-right: 30px;
}

.footer {
    position: fixed;
    width: 100%;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

#footer-center {
    left: 0;
    bottom: 10;
    text-align: center;
}

#footer-right {
    right: 10;
    bottom: 10;
    width: 100%;
    text-align: right;
    font-size: 2rem
}


/* DEVICE PAGE */
#top_menu {
  margin: 0vh 0vw 5vh 0vw;
}

#devices_page {
    padding: 5vh 10vw 5vh 10vw;

    white-space: nowrap;
    min-height: 100%;
    min-width: 100%;

    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.take_action_button {
    cursor: pointer;
}

/* 'RETAKE DEVICE' MODAL */
#retake_modal .actions {
    text-align: center;
}

#retake_modal i.warning.sign.icon  {
    margin-bottom: 5vh
}

#retake_modal .content {
    text-align: center;
    font-size: 1.25rem;
}

/* ERROR PAGE */

#error_message {
  padding: 40px;
}

/* FORM (EDIT AND NEW DEVICE) */

.device-form {
    padding: 40px;
    margin: 100px 200px 100px 200px;
}

/* DEVICE LOGS PAGE */

#device_logs_table {
    padding: 40px;
    margin: 100px 200px 100px 200px;
}


/* ONLINE INDICATOR */
.spinner {
    width: 15px;
    height: 15px;
    /* margin: 0px auto; */
    margin-right: 10px;
    margin-left: 10px;


    background-color: green;
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }

/* SELECT CITY PAGE */
#select-city-maintext {
    padding-top: 9%;
    font-size: 2.3rem;
}

#select-city-subtext {
    font-size: 1.5rem;
    font-weight: 100;
}

#select-location-wrapper {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

#select-location-dropdown {
    width: 30%;
}

#select-location-send-button {
    margin-top: 20px;
    width: 30%;
    font-size: 1.5rem;
    font-weight: bold;
}

.ui.dropdown .menu>.item{
    font-size: 1.2rem;
}